.App {
}


.App-header {
  background-color:white;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav ul {
  list-style: none;
  display:flex;
  justify-content: space-around;
}

  nav li a{
    color:white;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .body>section {
    margin: 1px;
    border: 1px rgb(192, 190, 190) solid;
    padding: 1em;

  }

  .body>section>header {
    font-size: 2em;

  }

  